stable-baselines3[extra]==2.4.0
sb3-contrib==2.4.0
swig
gymnasium[mujoco]
pyyaml
hydra-core==1.3.2

hockey @ git+https://github.com/martius-lab/hockey-env.git

# client for competition connection
comprl @ git+https://github.com/martius-lab/teamproject-competition-server.git#egg=comprl&subdirectory=comprl